@font-face {
    font-family: 'grinched';
    src: url('./GrinchedRegular.otf') format('truetype');
  }
@font-face {
    font-family: 'Type';
    src: url('./Type\ Machine.ttf') format('truetype');
}
@import "core/reset";
@import "CharacterDetail";
@import "Filters";
@import "Header";
@import "CharactersList";
@import "NotFound";

.App {
  background: radial-gradient(
  circle,
  rgba(3, 5, 5, 0.917) 35%,
  rgba(90, 230, 240, 0.292) 100%
),
url("../images/background.jpg");
width: 100%;
min-height: 100vh;
background-size: cover;
font-family: 'Type';
}